<div class="container border p-4 mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h5 class="card-title">Card title</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
        <div class="card-footer d-flex align-items-end justify-content-between">
            <p class="text-secondary">12/12/2023</p>
            <div class="action">
                <button class="btn btn-sm btn-warning" id="delete_button"><span class="material-symbols-outlined" style="font-size: 18px;">
                        delete
                    </span></button>
                <button class="btn btn-sm btn-danger"><span class="material-symbols-outlined"  style="font-size: 18px;">
                        edit_note
                    </span></button>
            </div>
        </div>
    </div>
</div>