{% extends "Pages/index.html" %}


{% block content %}

{% include "Pages/navbar.html" %}

<section class="mt-5">
    <div class="d-flex justify-content-center align-items-center">
        <form action="" method="post" class="col-5 shadow p-4">
            {% csrf_token %}
            <legend class="text-center mb-4">Add New Note</legend>
            <div class="mb-3">

                <input type="text" class="form-control" id="username" aria-describedby="userHelp" placeholder="title"
                    name="Title" autofocus>
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Description" id="floatingTextarea" rows=3></textarea>
            </div>
            <button class="btn btn-primary w-100">ADD</button>
        </form>
    </div>
</section>

{% endblock %}