{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'Styles/Student_style.css' %}">
</head>

<body>
    {% include "Student/Student_navbar.html" %}
    <div class="body-container">
        <h1>Web Development Quiz</h1>
        <div class="questions">
            {% for question in Question %}
            <p class="ques">Ques. {{question.question}}</p>
            <div class="options">
                <input type="radio" id="option" name="option1">
                <label for="option">{{question.option1}}</label><br>
                <input type="radio" id="option" name="option2">
                <label for="option">{{question.option2}}</label><br>
                <input type="radio" id="option" name="option3">
                <label for="option">{{question.option3}}</label>
            </div>

            {% endfor %}

            <button>Submit</button>
        </div>
    </div>
</body>

</html>