{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice Website</title>
    <link rel="stylesheet" href="{% static 'Style/Navbar.css' %}">
</head>
<body>
    {% include "Navbar.html" %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus culpa sit exercitationem adipisci consequuntur asperiores deleniti dolorum itaque minima inventore modi facilis neque officiis ullam unde, temporibus nemo dolores quae? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam in aperiam vitae perspiciatis quaerat ut error nihil quia cumque! Molestias ea aspernatur quae quam sed perspiciatis voluptas excepturi nesciunt velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, ipsa quam itaque ducimus id consectetur eligendi nobis necessitatibus dignissimos sed, assumenda aliquam consequatur explicabo quas inventore iure maiores eaque libero! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate accusamus minus fuga suscipit necessitatibus voluptates, qui laboriosam commodi tempore omnis dolore tenetur nihil nisi quas tempora placeat minima repellat animi?</p>

    {% include "Footer.html" %}
</body>
</html>