{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Styles/Admin_Dashboard.css' %}">
</head>

<body>
    {% include "Admin_Navbar.html" %}

    <div class="dashboard-container">
        {% include "Admin_uNabvar.html" %}

        <div class="search-add">
            <div class="left">
                <span class="material-symbols-outlined">
                    search
                </span>
                <input type="text" id="search-input" name="search-student" placeholder="Search Here...">
            </div>
            <div class="right">
                <form action="">
                    <div class="sort-select">
                        <select name="sort" id="sort">
                            <option value="latest">Latest</option>
                            <option value="earliest">Earliest</option>
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>
                        </select>
                    </div>
                </form>
                <button id="add_pop_button">+ Add Employee</button>
            </div>
        </div>

        {% include "Registration_Form/Employee.html" %}

        <div class="table">
            <table class="student">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Register Date</th>
                    <th>Parent Name</th>
                    <th>City</th>
                    <th>Contact</th>
                    <th>Role</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
                {% for emp in Employee %}
                <tr>
                    <td>{{emp.id}}</td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.registered}}</td>
                    <td>{{emp.parent_name}}</td>
                    <td>{{emp.city}}</td>
                    <td>+91-{{emp.contact}}</td>
                    <td>{{emp.role}}</td>
                    <td>{{emp.salary}}</td>
                    <td style="text-align: center;" class="flex">
                        <div class="menu-item">
                            <span class="material-symbols-outlined h-button">
                                more_horiz
                                </span>
    
                                <div class="menu-list">
                                    <a title="View Profile" href="{% url 'view_employee' emp.id %}">
                                        <span class="material-symbols-outlined">
                                            visibility
                                        </span>
                                        View
                                    </a>
            
                                    <a title="Update" href="{% url 'update_employee' emp.id %}">
                                        <span class="material-symbols-outlined">
                                            edit_note
                                        </span>
                                        Update
                                    </a>
            
                                    <a href="{% url 'delete_employee' emp.id %}">
                                        <span class="material-symbols-outlined">
                                            delete
                                        </span>
                                        Delete
                                    </a>
                                </div>
                        </div>
                    </td>
                </tr>

                {% endfor %}

            </table>
        </div>

        {% include "CopyRight.html" %}

    </div>

    <script src="{% static 'JavaScript/FormPop.js' %}"></script>
</body>

</html>