{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'Styles/Admin_Dashboard.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    {% include "Admin_Navbar.html" %}

    <div class="dashboard-container">
        {% include "Admin_uNabvar.html" %}
        <div class="total-counter">
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        school
                    </span>
                </div>
                <div class="category">
                    <p>Student</p>
                    <h4>932</h4>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        person
                        </span>
                </div>
                <div class="category">
                    <p>Teacher</p>
                    <h4>932</h4>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        person_apron
                        </span>
                </div>
                <div class="category">
                    <p>Employee</p>
                    <h4>932</h4>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        note_alt
                        </span>
                </div>
                <div class="category">
                    <p>Notes</p>
                    <h4>932</h4>
                </div>
            </div>
        </div>
        {% include "CopyRight.html" %}
    </div>
</body>

</html>