<nav class="navbar">
    <div class="title">
        <h4>Dashboard</h4>
    </div>

    <div class="menus">
        <a href=""><span class="material-symbols-outlined">
                search
            </span></a>
        <a href=""><span class="material-symbols-outlined">
                chat_bubble
            </span></a>
        <a href=""><span class="material-symbols-outlined">
                notifications
            </span></a>
        <a href=""><span class="material-symbols-outlined">
                settings
            </span></a>

        <div class="profile">
            <div class="avatar">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </div>
            <div class="name">
                <p>Abhishek</p>
            </div>
        </div>
    </div>
</nav>