{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Styles/Admin_Dashboard.css' %}">
</head>

<body>

    {% include "Admin_Navbar.html" %}

    <div class="dashboard-container">

        {% include "Admin_uNabvar.html" %}

        <div class="search-add">
            <div class="left">
                <span class="material-symbols-outlined">
                    search
                </span>
                <input type="text" id="search-input" name="search-student" placeholder="Search Here...">
            </div>
            <div class="right">
                <form action="">
                    <div class="sort-select">
                        <select name="sort" id="sort">
                            <option value="latest">Latest</option>
                            <option value="earliest">Earliest</option>
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>
                        </select>
                    </div>
                </form>
                <button>+ Add Notice</button>
            </div>
        </div>

        <div class="notice">

            <div class="notice-display">
                <h4>Notice Display</h4>
                <div class="notice-card">

                    <h3 class="title">Result of m.tech 2 year is out now you can check on official website.</h3>


                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At vero maxime rerum
                        delectus eum commodi sed unde enim repellat modi odit, suscipit asperiores nemo incidunt
                        doloremque, aperiam quos, ducimus nesciunt.</p><a href="">Read More...</a>

                    <div class="notice-details d-flex">

                        <p class="post-by" style="color: #FB7D5B;">Post by School Management</p>
                        <p class="date">Sat, 27/10/2023</p>

                    </div>
                </div>
                <div class="notice-card">

                    <h3 class="title">Result of m.tech 2 year is out now you can check on official website.</h3>


                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At vero maxime rerum
                        delectus eum commodi sed unde enim repellat modi odit, suscipit asperiores nemo incidunt
                        doloremque, aperiam quos, ducimus nesciunt.</p><a href="">Read More...</a>

                    <div class="notice-details d-flex">

                        <p class="post-by" style="color: #FB7D5B;">Post by School Management</p>
                        <p class="date">Sat, 27/10/2023</p>

                    </div>
                </div>
                <div class="notice-card">

                    <h3 class="title">Result of m.tech 2 year is out now you can check on official website.</h3>


                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. At vero maxime rerum
                        delectus eum commodi sed unde enim repellat modi odit, suscipit asperiores nemo incidunt
                        doloremque, aperiam quos, ducimus nesciunt.</p><a href="">Read More...</a>

                    <div class="notice-details d-flex">

                        <p class="post-by" style="color: #FB7D5B;">Post by School Management</p>
                        <p class="date">Sat, 27/10/2023</p>

                    </div>
                </div>
       
            </div>

            <div class="notice-form">
                <h4>Add New Notice</h4>
                <form action="{% url 'admin_notice' %}" class="form-notice" method="post">
                    {% csrf_token %}
                    <input type="text" name="post-by" placeholder="Post By" autofocus> <br>
                    <input type="text" name="title" placeholder="Title"> <br>
                    <textarea name="description" id="" cols="70" rows="10" placeholder="Description" form="form-notice"></textarea> <br>
                    <button type="submit">Submit</button>
                </form>
            </div>

        </div>

        {% include "CopyRight.html" %}

    </div>

</body>

</html>