{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Styles/Admin_Dashboard.css' %}">
</head>

<body>
    {% include "Admin_Navbar.html" %}

    <div class="dashboard-container">
        {% include "Admin_uNabvar.html" %}

        <div class="search-add">
            <div class="left">
                <span class="material-symbols-outlined">
                    search
                </span>
                <input type="text" id="search-input" name="search-student" placeholder="Search Here...">
            </div>
            <div class="right">
                <form action="">
                    <div class="sort-select">
                        <select name="sort" id="sort">
                            <option value="latest">Latest</option>
                            <option value="earliest">Earliest</option>
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>
                        </select>
                    </div>
                </form>
                <button id="add_pop_button">+ Add Teacher</button>
            </div>
        </div>

        {% include "Registration_Form/Teacher.html" %}

        <div class="teachers-card">
            {% for teacher in Teacher %}

            <div class="card">
                <div class="img">
                </div>
                <div class="intro">
                    <h4>{{teacher.Name}}</h4>
                    <p>Teacher</p>
                </div>
                <div class="subject">
                    <span>{{teacher.Subject}}</span>
                </div>
                <div class="actions d-flex">
                    <div class="left">
                        <a href=""><span class="material-symbols-outlined">
                                visibility
                            </span>View Profile</a>
                    </div>
                    <div class="right">
                        <button title="Update">
                            <a href="{% url 'update_teacher' teacher.id %}">
                                <span class="material-symbols-outlined">
                                    edit_note
                                </span>
                            </a>
                        </button>
                        <button title="Delete">
                            <a href="{% url 'delete_teacher' teacher.id %}">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
              
            {% endfor %}

        {% include "CopyRight.html" %}

    </div>

    <script src="{% static 'JavaScript/FormPop.js' %}"></script>
</body>

</html>