{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'Styles/Admin_Dashboard.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    {% include "Admin_Navbar.html" %}

    <div class="dashboard-container">
        {% include "Admin_uNabvar.html" %}
        <div class="total-counter">
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        school
                    </span>
                </div>
                <div class="category">
                    <p>Total Student</p>
                    <h4>{{student_length}}</h4>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        person
                        </span>
                </div>
                <div class="category">
                    <p>Total Teacher</p>
                    <h4>{{teacher_length}}</h4>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        person_apron
                        </span>
                </div>
                <div class="category">
                    <p>Total Employee</p>
                    <h4>{{employee_length}}</h4>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        note_alt
                        </span>
                </div>
                <div class="category">
                    <p>Total Notice</p>
                    <h4>{{notice_length}}</h4>
                </div>
            </div>
        </div>

        <div class="table">
            <h4>Teacher Details</h4>
            <table class="teacher">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Registered Date</th>
                    <th>Subject</th>
                    <th>Qualification</th>
                    <th>Performance</th>
                    <th>Contact</th>
                    <th>City</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
                {% for teacher in Teacher %}
                <tr>
                    <td>{{teacher.id}}</td>
                    <td>{{teacher.Name}}</td>
                    <td>{{teacher.Registered}}</td>
                    <td>{{teacher.Subject}}</td>
                    <td>{{teacher.Qualification}}</td>
                    <td>{{teacher.Performance}}</td>
                    <td>+91-{{teacher.Contact}}</td>
                    <td>{{teacher.City}}</td>
                    <td>{{teacher.Salary}}</td>
                    <td><span class="material-symbols-outlined">
                            visibility
                        </span>
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </td>
                </tr>
                {% endfor %}
           
            </table>
        </div>

        {% include "Student_Table.html" %}
        {% include "CopyRight.html" %}
    </div>
</body>

</html>
