<div class="table">
    <h4>Student Details</h4>
    <table class="student">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Registered Date</th>
            <th>Parent Name</th>
            <th>City</th>
            <th>Contact</th>
            <th>Class</th>
            <th>Action</th>
        </tr>

        {% for student in Student %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.Name}}</td>
            <td>{{student.Dob}}</td>
            <td>{{student.Registered}}</td>
            <td>{{student.Father_name}}</td>
            <td>{{student.City}}</td>
            <td>+91-{{student.Contact}}</td>
            <td>{{student.Std}}</td>
            <td><a href=""><span class="material-symbols-outlined">
                        visibility
                    </span></a>
                <span class="material-symbols-outlined">
                    edit_note
                </span>
                <span class="material-symbols-outlined">
                    delete
                </span>
            </td>
        </tr>
        {% endfor %}
   
    </table>
</div>