{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Styles/Admin_Dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/Teacher_Dashboard.css' %}">
</head>
<body>
    {% include "Teacher_Navbar.html" %}
    <div class="dashboard-container">
        {% include "Admin_uNabvar.html" %}

        <div class="total-counter">
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        school
                    </span>
                </div>
                <div class="category">
                    <p>Student</p>
                    <h4>932</h4>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        person
                        </span>
                </div>
                <div class="category">
                    <p>Teacher</p>
                    <h4>932</h4>
                </div>
            </div>
            <div class="card">
                <div class="avatar">
                    <span class="material-symbols-outlined">
                        note_alt
                        </span>
                </div>
                <div class="category">
                    <p>Notes</p>
                    <h4>932</h4>
                </div>
            </div>
        </div>

        {% include "Student_Table.html" %}

    </div>

    {% include "CopyRight.html" %}
</body>
</html>