{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Styles/Admin_Dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/Teacher_Dashboard.css' %}">
</head>
<body>
    {% include "Teacher_Navbar.html" %}
    <div class="dashboard-container">
        {% include "Admin_uNabvar.html" %}
        
        {% include "Registration_Form/Student.html" %}
        <div class="search-add">
            <div class="left">
                <span class="material-symbols-outlined">
                    search
                </span>
                <input type="text" id="search-input" name="search-student" placeholder="Search Here...">
            </div>
            <div class="right">
                <form action="">
                    <div class="sort-select">
                        <select name="sort" id="sort">
                            <option value="latest">Latest</option>
                            <option value="earliest">Earliest</option>
                            <option value="ascending">Ascending</option>
                            <option value="descending">Descending</option>
                        </select>
                    </div>
                </form>
                <button id="add_pop_button">+ Add Student</button>
            </div>
        </div>

        {% include "Student_Table.html" %}

    </div>

    {% include "CopyRight.html" %}

    <script src="{% static 'JavaScript/FormPop.js' %}"></script>
</body>
</html>