{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Styles/Admin_Dashboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

    <div class="form-container update-form d-flex align-items-center justify-content-center vh-100">
        <div class="form content w-50 shadow p-4 bg-white rounded">
            <h3 class="text-center mb-5">Update Student Details({{student.id}})</h3>
            <form action="" class="g-3 row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-6">
                    <label for="name" class="form-label text-secondary">Name</label>
                    <input type="text" class="form-control" value="{{student.Name}}" name="name">
                </div>

                <div class="col-6">
                    <label for="name" class="form-label text-secondary">Std</label>
                    <input type="text" class="form-control" value="{{student.Std}}" name="class">
                </div>

                <div class="col-4">
                    <label for="name" class="form-label text-secondary">Father Name</label>
                    <input type="text" class="form-control" value="{{student.Father_name}}" name="parent-name">
                </div>

                <div class="col-4">
                    <label for="name" class="form-label text-secondary">City</label>
                    <input type="text" class="form-control" value="{{student.City}}" name="city">
                </div>

                <div class="col-4">
                    <label for="name" class="form-label text-secondary">DOB</label>
                    <input type="date" class="form-control" value="{{student.Dob}}" name="dob">
                </div>

                <div class="col-6">
                    <label for="name" class="form-label text-secondary">Contact</label>
                    <input type="text" class="form-control" value="{{student.Contact}}" name="contact">
                </div>

                <div class="col-6">
                    <label for="name" class="form-label text-secondary">Image</label>
                    <input type="file" class="form-control" value="{{student.Image}}" name="image">
                </div>

                <div class="row g-3 justify-content-center">
                    <button type="submit" class="btn btn-primary col-5">Update</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>