body{
    background-color: var(--main-background);
}


.dashboard-container {

    margin-right: 20px;
    margin-left: 100px;

    >.navbar {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .title{
            font-size: 25px;
            color: var(--primary);
        }


        > .menus{
            display: flex;
            gap: 10px;
            align-items: center;
            /* justify-content: center; */

            > a{
                background-color: var(--background-white);
                padding: 10px;
                border-radius: 10px;
                color: var(--grey);
            }

            > .profile{
                display: flex;
                /* align-items: center; */
                justify-content: center;
                background-color: var(--background-white);
                padding: 10px;
                border-radius: 10px;
                width: fit-content;

                > .avatar{
                    margin-right: 10px;
                }
            }
        }
    }
}