body {
    background-color: var(--main-background);
}

.navbar {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >.title {
        font-size: 25px;
        color: var(--primary);
    }


    >.menus {
        display: flex;
        gap: 10px;
        align-items: center;
        /* justify-content: center; */

        >a {
            background-color: var(--background-white);
            padding: 10px;
            border-radius: 10px;
            color: var(--grey);
        }

        >.profile {
            display: flex;
            /* align-items: center; */
            justify-content: center;
            background-color: var(--background-white);
            padding: 10px;
            border-radius: 10px;
            width: fit-content;

            >.avatar {
                margin-right: 10px;
            }
        }
    }
}


.dashboard-container {

    margin-right: 20px;
    margin-left: 100px;

    >.total-counter {
        background-color: var(--white);
        margin-top: 40px;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        >.card {
            display: flex;
            align-items: center;

            >.avatar {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: var(--primary);
                text-align: center;
                /* padding-top: 5px; */
                color: var(--white);
                margin-right: 10px;
                height: 50px;
                width: 50px;

                >span {
                    font-size: 30px;
                    text-align: center;
                }

            }

            >.category {
                >p {
                    font-size: 14px;
                    color: var(--grey);
                }

                >h4 {
                    font-size: 18px;
                    color: var(--primary);
                }
            }
        }
    }

}

.search-add {
    background-color: var(--white);
    margin-top: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    >.left {

        >.material-symbols-outlined {
            height: 2.5rem;
            background-color: var(--primary);
            color: var(--white);
            text-align: center;
            font-size: 30px;
            width: 40px;
            margin-right: 0px;
        }

        >#search-input {
            margin-left: 0px;
            height: 2.5rem;
            padding: 10px;
            border: none;
            outline: none;
            width: 400px;
        }
    }

    >.right {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        >form {
            >.sort-select {
                position: relative;

                >select {
                    height: 2.5rem;
                    width: 120px;
                    outline: none;
                    border: .5px solid var(--grey);
                    border-radius: 5px;
                    padding: 10px;
                }


            }

        }

        >button {
            padding: 10px;
            height: 2.5rem;
            width: fit-content;
            outline: none;
            border: none;
            border-radius: 5px;
            background-color: var(--primary);
            color: var(--white);
        }
    }
}

.table {
    margin-top: 30px;
}

.student {
    border-collapse: collapse;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
}

.student td,
.student th {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

.student tr:nth-child(even) {
    background-color: #f2f2f2;
}

.student tr:hover {
    background-color: #ddd;
}

.student th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary);
    color: white;
}

.copy-right{
    width: 100%;
    margin-top: 30px;
    background-color: var(--main-background);

    > p{
        text-align: center;
        padding: 20px;
        font-size: 14px;
        color: var(--grey);

        > span{
            color: var(--primary);
        }
    }
}