* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}


.login {
    background-image: url("../Images/Login_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.register {
    background-image: url("../Images/Register_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

textarea {
    resize: none;
}

.popup-wrapper {

    width: 100%;
    overflow: auto;
    scrollbar-width: 0px;
    height: 100%;

    /* Fallback color */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.popup-close {
    position: relative;
    text-align: right;
    font-size: 25px;
    font-weight: normal;
    font-family: sans-serif;
    cursor: context-menu;
}

.popup-wrapper #desc{
    height: 3rem;
}


