*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --purple: #4314b6;
}

.btn-purple{
    background-color: var(--purple);
    transition: all .5s ease-in-out ;
}

.btn-purple:hover{
    /* border: 2px solid var(--purple); */
    border-radius: 5px;
    /* color: black; */
    background-color: black;
}

.text-purple{
    color: var(--purple);
}

.actives{
    color: var(--purple);
}

.hero, .how-work{
    background-color: #4214b611;
}

.my-6{
    margin: 6rem 0;
}

.py-6{
    padding: 6rem 0;
}